.header {
    background-color: pink;
    display: flex;
    justify-content: space-around;
}

body{
    font-family: 'Anybody', cursive;
}
 
.navegacion {
    float: right;
}

.nav-item{
    color: white;
}

.text-nav{
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.text-nav:hover{
    background-color: white;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#contenedorPerror {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    background-color: palevioletred;
}
 
.abajo_del_perro {
    display: flex;
    justify-content: space-around;
}
 
.contenido {
    display: flex;
    background-color: pink;
    color: white;
    width: 100%;
    padding: 20px;
    font-family: verdana;
    font-weight: bold;
}
 
.principal {
    background-color: palevioletred;
}
 
.fono {
    width: 30%;
}
 
.rescate {
    width: 40%;
    text-align: center;
}
 
.redes {
    width: 30%;
    text-align: center;
}
 
.redes ul li {
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
}
 
.redes img {
    height: 16px;
}

.contenedor-inferior a{
    list-style: none;
    color: black;
    text-decoration: none;
}

.lateral_1 a{
    list-style: none;
    color: black;
}

.lateral_1, .lateral_2 {
    width: 50%;
    /* height: 500px; */
    padding: 30px;
    background-color: white;
    font-family: verdana;
    /* list-style: none; */
}
 
.lateral_1 {
    text-align: right;
    /* list-style: none; */
}

.lateral_1 img{
    width: 50%;
}
 
.lateral_2 img {
    width: 50%;
}
 
.contenedor-inferior {
    display: flex;
}
 
.footer {
    text-align: center;
    background-color: pink;
    color: white;
}
/* Tamaño para celulares */
@media screen and (max-width:720px) {
    .header {
        flex-direction: column;
        width: auto;
    }

    .contenedor-inferior{
        flex-direction: column;
    }

    .lateral_1  a, .lateral_2 a{
        text-align: center;
    }

    .contenedor-inferior img{
        width: 300px;
    }

    .footer {
        display: none;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }