.header {
    background-color: pink;
    display: flex;
    justify-content: space-around;
}

#contenedorPerror {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    background-color: palevioletred;
}
 
.abajo_del_perro {
    display: flex;
    justify-content: space-around;
}
 
.contenido {
    display: flex;
    background-color: pink;
    color: white;
    width: 100%;
    padding: 20px;
    font-family: verdana;
    font-weight: bold;
}
 
.principal {
    background-color: palevioletred;
}
 
.fono {
    width: 30%;
}
 
.rescate {
    width: 40%;
    text-align: center;
}
 
.redes {
    width: 30%;
    text-align: center;
}
 
.redes ul li {
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
}
 
.redes img {
    height: 16px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
}

.flex-item {
    /* background-color: white; */
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
}

.flex-item img{
    width: 600px;
}

.footer {
    text-align: center;
    background-color: pink;
    color: white;
}
/* diseño para celulares */
@media (min-width: 320px) and (max-width:480px) {
    .header {
        flex-direction: column;
    }

    .flex-container{
        flex-direction: column;
    }

    .flex-item img{
        width: 320px;
    }

    .footer {
        display: none;
    }
}
/* diseño para tablets */
@media (min-width: 481px) and (max-width: 768px){

    .flex-container{
        flex-direction: column;
    }

    .flex-item img{
        width: 470px;
        text-align: center;
    }

    .footer{
        display: none;
    }
}