{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gestion de Productos</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
   
    <link rel="stylesheet" href="{% static 'css/add_producto.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
</head>

<body>

    <div class="page-header">
        <h1> {% block titulo_principal %} Administrar Poductos {% endblock %} </h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <div>
        {% block footer %} {% endblock %}
    </div>
    
</body>

</html>