{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gestion de Mascotas</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
   
    <link rel="stylesheet" href="{% static 'css/add_producto.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="page-header">
        <h1> {% block titulo_principal %} Administrar Mascotas {% endblock %} </h1>
    </div>
    {% block navbar %} 
    
    {% endblock %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>

    <div>
        {% block footer %} {% endblock %}
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js%22%3E"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        
            // implementacion: 
        {/* <p>Hora: <span id="hr"></span><br/>
                        Region: <span id="reg"></span></p> */}
        
        // "hr" y "reg" son Id de elemento
        
        //token
        var form = new FormData();
        form.append("username", "Max");
        form.append("password", "1234");
        
        var settings_token = {
          "url": "http://127.0.0.1:8000/api-token-auth/",
          "method": "POST",
          "timeout": 0,
          "processData": false,
          "mimeType": "multipart/form-data",
          "contentType": false,
          "data": form
        };
        //------------------------
        
        $.ajax(settings_token).done(function (token) {
          console.log(token);
        
        });
        
        const api_url = 'http://127.0.0.1:8000/productos/';
        var settings = {
            "url": "http://127.0.0.1:8000/productos/",
            "method": "GET",
            "timeout": 0,
            "headers": {
              "authorization": "token 2976f6b3b51cc2a069a7dde7582de964d73ca100"
            },
          };
        
        
        
        $.ajax(settings).done(function (response) {
        
            console.log(response.nombre);
        
            console.log(response[0].nombre);
          });
        
        function listarProductos(){
            $.ajax()
        }
        
        </script>
</body>

</html>