{% extends 'Usuario/base/base.html' %} 
{% load static %}
{% block content %}
    <div class="container">
      <!-- INICIO DEL HEADER -->

      <!-- FIN DEL HEADER -->
      
      <div id="registro" class="container">

        <div class="header">
        <a href="{% url 'home' %}"> <!-- VA A HOME -->
          <img src='{% static "images/logo.png" %}' alt="logo" >
        </a>
      </div>

          <h1 class="display">Inicio de sesión</h1><br>
          <form method="POST" id="formulario" class="form-login">
              {% csrf_token %}
                      <div class="form-group">
                        <label for="username">Usuario</label><br>
                        <input name="username" class="form-control" type="text" id="username"/>
                        <div class="bg-danger mt-1">{{ form.errors.username }}</div>
                      </div>

                      <div class="form-group">
                        <label for="password">Contraseña</label><br>
                        <input name="password" class="form-control" type="password" id="password"/>
                        <div class="bg-danger mt-1">{{ form.errors.password }}</div>
                    </div>
                    <input type="checkbox" onclick="myFunction()"/>Mostrar contraseña
                    
        {% if form.non_field_errors %}
        <div class="form-group">
            <div class="bg-danger mt-1 p-2">Login incorrecto!</div>
        </div>  
        {% endif %}
        
        {{form.non_field_errors}}

        <div class="form-group">
            <input class="btn" type="submit" value="Enviar" style="background-color: blue; color: white;"/>
        </div>
        <a href="{% url 'registrar' %}">¿No tienes cuenta? Registrate</a>
    </form>
    
</div>

<div class="imagen-perros">
  <img src="../../static/images/perros/perros.jpg" alt="perros"/>
</div>.


<footer class="footer">
  Tienda para Mascotas &COPY; 2022
  <p>
    Dia: <span id="dia"></span> &nbsp; Hora: <span id="hr"></span> &nbsp;
    Region: <span id="reg"></span>
  </p>
</footer>

{% endblock content %}

{% block extrajs %} {% endblock extrajs %}