{% extends 'base.html' %}
<!-- home.html -->
{% block title %}Home Page{% endblock title %}
{% block content %} 

    <div class="content container">
      <div class="row">
          <div class="col-md-8">
              
              <div class="header">
                <nav class="navbar sticky-top navbar-light" >
                    <a href="{% url 'home' %}">
                    <img src="../static/images/logo.png"  class="rounded float-left" alt="logo">
                  </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" 
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
                            aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="../paginas/sobre_nosotros.html" target="_blank">Quienes Somos</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contactanos
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#RS">Redes sociales</a>
                            <a class="dropdown-item" href="#Fono">Telefono</a>
                            
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Carrito de compras</a>
                        </li>
                        
                      </ul>
                      
                    </div>
                  </nav>
            
                  {% comment %} <a href="menu_login.html" style="list-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16" style="list-style: none;">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                  </svg></a> {% endcomment %}
            
            </div>

        </div>
    </div>
    <!--- ahora el cuerpo principal donde esta cabeza de perro-->
    <section>
        <div class="principal"> 
            <div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="pagina_cama_sofa_azul.html"> <!-- LINK A PAGINA-->
                    <img src="../static/images/productos/cama-sofa-azul-348538_900x.jpg" alt="cama" class="center">
                    </a>
                    <div class="container">
                      <div class="carousel-caption text-start">
                        
                        
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="pagina_correa_arena.html">
                    <img src="../static/images/productos/nueva-correa-arena-2022-567399_900x.jpg" alt="correa" class="center">
                  </a>
                    <div class="container">
                      <div class="carousel-caption">
                        
                        
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="pagina_collar.html">
                    <img src="../static/images/productos/nuevo-collar-arena-2022-725709_900x.jpg" alt="collar" class="center">
                    </a>
                    <div class="container">
                      <div class="carousel-caption text-end">
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>
    <section class="contenido" id="Contacto">
        <div class="fono" id="Fono">
            <h5><a>+56 9 98765431</a></h5>
        </div>
        <div class="rescate">
            <h5><a>Productos para tus Mascotas</a></h5>
        </div>
        <div class="redes" id="RS">
            <ul>
                <li>
                    <img src="../static/images/icons/facebook-f-brands.svg" alt="facebook" />
                </li>
                <li>
                    <img src="../static/images/icons/google-plus-g-brands.svg" alt="google+" />
                </li>
                <li>
                    <img src="../static/images/icons/instagram-brands.svg" alt="instagram" />
                </li>
                <li>
                    <img src="../static/images/icons/envelope-solid.svg" alt="mail" />
                </li>
            </ul>
        </div>
    </section>

    <!-- {% if user.is_authenticated %}
        <p>Bienvenido a nuestra Pagina - {{user.username}}</p>
        <p>Your name is - {{user.first_name}} {{user.last_name}}</p>
        <p>Your email is - {{user.email}}</p>
        <br><br>
    {% endif %} -->
    <!-- {% if not user.is_authenticated %}        
            <li class="nav-item"><a href="{% url 'registrar' %}">registrarse</a></li>
            <li class="nav-item"><a href="{% url 'login' %}">iniciar sesión</a></li>
          {% endif %} -->
    <!-- {% if user.is_authenticated %}
    <li class="nav-item"><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    <span class="ml-md-5" style="color: red;"><strong>Usuario: {{ user.get_username }}</strong></span>
    {% endif %}  -->
{% endblock content %}