{% extends 'base.html' %}
<!-- home.html -->
{% block title %}Home Page{% endblock title %}
{% block content %} 


<!-- NAVEGADOR -->
<div class="navegador" style="background-color: pink;">
  <nav class="navbar bg-light fixed-top" >
    <div class="container-fluid" style="background-color: pink; font-size: 20px;">
      
      <a class="navbar-brand" href="{% url 'home' %}">
        <div class="logo" style="text-align: center;">
        <img src="../static/images/logo.png" alt="logo">
      </div>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: pink;">
        <div class="offcanvas-header" >
          <h1 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h1>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre_nosotros' %}">Sobre Nosotros</a>
            </li>
            {% if not user.is_authenticated %} 
                
                <li class="nav-item"><button class="btn btn-primary" style="background-color: red;"><a href="{% url 'registrar' %}" style="text-decoration: none; color: white;">Registrarse</a></button></li>
                <li class="nav-item"><button class="btn btn-primary"><a href="{% url 'menu_login' %}" style="text-decoration: none; color: white;">Iniciar Sesión</a></button></li>
            {% endif %}

            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            {% if user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'list_productos' %}">Menú Administrativo</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li class="nav-item"><button class="btn btn-primary" style="background-color: red;"><a href="{% url 'logout' %}" style=" font-size: 20px; text-decoration: none; color: white">Cerrar sesión</a></button></li>
            <span class="ml-md-5" style="color: white;"><strong>!Bienvenid@ {{ user.get_username }}¡</strong></span>
            {% endif %}  
          </ul>
        </div>
      </div>
    </div>
  </nav>  
  </div> 
      <!-- FIN NAVEGADOR -->
    <!--- ahora el cuerpo principal donde esta cabeza de perro-->
    <section>
        <div class="principal"> 
            <div id="myCarousel" class="carousel slide pointer-event" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                  <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="{% url 'cama_sofa_azul' %}"> <!-- LINK A PAGINA-->
                    <img src="../../static/images/productos/cama-sofa-azul-348538_900x.jpg" alt="cama" class="center">
                    </a>
                    <div class="container">
                      <div class="carousel-caption text-start">
                        
                        
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="{% url 'correa_arena' %}">
                    <img src="../static/images/productos/nueva-correa-arena-2022-567399_900x.jpg" alt="correa" class="center">
                  </a>
                    <div class="container">
                      <div class="carousel-caption">
                        
                        
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <a href="{% url 'collar' %}">
                    <img src="../static/images/productos/nuevo-collar-arena-2022-725709_900x.jpg" alt="collar" class="center">
                    </a>
                    <div class="container">
                      <div class="carousel-caption text-end">
                        
                        
                      </div>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </section>

    <div class="contenedor-inferior">
      <aside class="lateral_1">
          <a href="{% url 'collar' %}">
          <h1>Collar Perro Adulto</h1>
          <img src="../static/images/productos/nuevo-collar-arena-2022-725709_900x.jpg" alt="perrito rescatado" />
          </a>
          <a href="{% url 'correa_arena' %}">
          <h1>Correa Arena</h1>
          <img src="/static/images/productos/nueva-correa-arena-2022-567399_900x.jpg" alt="correa arena">
          </a>
          <a href="{% url 'peluches_juguetes' %}">
            <h1>Peluches de juguete</h1>
            <img src="../static/images/productos/trio-brutal-458562_900x.jpg" alt="Peluches">
          </a>
      </aside>
      <aside class="lateral_2">
          <a href="{% url 'cama_sofa_azul' %}">
            <h1>Cama Sofá Azul</h1>
            <img src="/static/images/productos/cama-sofa-azul-348538_900x.jpg" alt="financiamiento" />
          </a>
          <a href="{% url 'plato_nordico' %}">
            <h1>Plato Nórdico</h1>
            <img src="../static/images/productos/plato-nordico-829507_900x.jpg" alt="Plato nordico">
          </a>
          <a href="{% url 'collar_bandana' %}">
            <h1>Collar Bandana</h1>
            <img src="../static/images/productos/collar-bandana.jpg" alt="Collar Bandana">
          </a>
      </aside><br>
  </div>

    <section class="contenido" id="Contacto">
        <div class="fono" id="Fono">
            <h5><a>+56 9 98765431</a></h5>
        </div>
        <div class="rescate">
            <h5><a>Productos para tus Mascotas</a></h5>
        </div>
        <div class="redes" id="RS">
            <ul>
                <li>
                    <img src="../static/images/icons/facebook-f-brands.svg" alt="facebook" />
                </li>
                <li>
                    <img src="../static/images/icons/google-plus-g-brands.svg" alt="google+" />
                </li>
                <li>
                    <img src="../static/images/icons/instagram-brands.svg" alt="instagram" />
                </li>
                <li>
                    <img src="../static/images/icons/envelope-solid.svg" alt="mail" />
                </li>
            </ul>
        </div>
    </section>

{% endblock content %}